*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conatiner{
    /* border: 2px solid red ; */
    height: 90vh;
    width: 90vw;
    /* margin: 0 auto; */

}
.navbar{
    /* border: 2px solid rgb(0, 255, 55) ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}
.logo{
    width: 80px;
}
.logo-conatiner{
    /* border: 2px solid rgb(0, 255, 208) ; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.logo_text{
    margin-left: -1.3rem;
    font-size: 28px;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
}
.nav-items div a{
    text-decoration: none;
    color: black;
}
.nav-items div:hover{
    transition: all 0.3s;
    background-color: rgb(239, 236, 236);
    font-size: 20.5px;
}
.hero-section{
    /* border: 2px solid rgb(0, 255, 208) ; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    /* margin-top: 2rem; */
    padding: 0 1rem;
    padding-bottom: 8rem;
}
.faded-text{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: 0px;
    left: 5%;
    font-weight: bold;
    transition: all 3s;

}
.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}
.hero-section-heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}
.role{
    color: blue;
    font-weight: 600;
}
.hero-section-discription{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;

}

#hire-btn{
    width: 150px;
}

.btn{
    width: auto;
    background-color: rgb(212, 72, 96);
    padding: 0.8rem 2.2rem;
    border-radius: 10px;
    text-decoration: none;   
    font-size: 22px;
    color: white;
    box-shadow: 5px 5px 7px rgb(191, 185, 185);
    position: relative;
    z-index: 1;
    border: none;
}
.btn::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    /* transform-origin: left; */
    transition: all 0.5s;
    z-index: -1;
    border-radius: 10px;

}
.btn:hover::before{
    transform: scaleX(1);
    border-radius: 10px;
}
.hero-section-right{
    position: relative;
    margin-right: 5rem;

}
.absolute{
    position: absolute;
}
.user-image{
    padding: 3rem;
    filter: grayscale(1);
    transition: all 5s;
    animation: scaleImage 5s infinite;
}
.user-image img{
    z-index: -5;
}

@keyframes scaleImage {
     0%{
        transform: scale(1);
        filter: grayscale(0.5);
     }
     50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
     }
     100%{
        transform: scale(1);
        filter: grayscale(0.5);

     }
}

.icon-dots{
    z-index: 1;
    bottom: -0rem;
    right: 1rem;
    animation: dotsanimation 5s infinite;

}
@keyframes dotsanimation {
    0%{
        transform: translateY(0.1rem);
    }
    50%{
        transform: translateY(1.5rem);
    }
    100%{
        transform: translateY(0.1rem);

    }
}
.icon-cube{
    right: 0px;
    top: 0px;
    z-index: 2;
    animation: cubeAnimation 5s infinite;
}
@keyframes cubeAnimation {
    0%{
        transform: translateX(-2rem) translatey(1rem) rotateY(0deg);
    }
    50%{
        transform: translateX(1rem) translatey(-1rem) rotateY(180deg);

    }
    100%{
        transform: translateX(-2rem) translatey(1rem) rotateY(0deg);

    }
}
.icon-plus{
    right: 10rem;
    top: 1px;
    z-index: 1;
    animation: plusAnimation 5s infinite;
}
@keyframes plusAnimation {
    0%{
        transform: translateX(-2rem) ;
    }
    50%{
        transform: translateX(1rem);

    }
    100%{
        transform: translateX(-2rem);

    }
}

.icon-circle{
    bottom: 10px;
    left: 10px;
    z-index: 1;
    /* animation: circleAnimation 5s infinite; */
}

.icon-zigzag{
    z-index: 1;
    left: 10px;
    top: 15px;
    animation: zigzagAnimation 5s infinite;
}
@keyframes zigzagAnimation {
    0%{
        transform: translateX(0) ;
    }
    50%{
        transform: translateX(-2rem) translatey(-0.3rem);

    }
    100%{
        transform: translateX(0);

    }
}


.project-section{
    background-color: rgb(231,231,231);
    margin-top: 4rem;
}
.page-header{
    color: #e84949;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.conatiner2{
    /* border: 2px soild red; */
    width: 100vw;
}

.project-conatiner{
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;
}
.project-card{
    /* border: 2px soild red; */
    width: 80%;
    height: 550px;
    background-image: url(./projects/Project1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
}
.project-card::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-no{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    display: none;
}
.project-card:hover .project-no{
    display: block;
} 
.project-no-right{
    right: -40px;
    top: -45px;
}
.project-no-left{
    left: -40px;
    top: -45px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3em;
    bottom: 20%;
    z-index: 1;
    gap: 1em;
    transition: all 0.4s;

}
.project-content-right{
    right: 10%;
}
.project-content-left{
    left: 10%;
}
.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.project-skills{
    width: 40px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subheading{
    font-size: 16px;
    font-style: italic;
    width: 70%;
}
.btn-group{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon{
    font-size: 35px;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}
.icon:hover{
    color: #e84949;
}
.project-card:hover .project-content{
    transform: scale(1.1);
}
#project1{
    background-image: url(projects/Project1.png);
}
#project2{
    background-image: url(projects/Project2.png);
    margin-left: 20%;
}
#project3{
    background-image: url(projects/Project3.png);
}
#project4{
    background-image: url(projects/Project4.png);
    margin-left: 20%;
}

/* .conatiner3{
    border: 2px solid red ;
    height: 90vh;
    width: 90vw;
    margin: 0 auto;

} */

.skills-conatiner{
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    padding: 3rem;
    margin: 5rem ;
    gap: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.skills-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skills-conatiner-right{
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
}
.skills-faded-text{
    position: absolute;
    font-size: 15em;
    font-style: italic;
    color: rgb(231, 231, 231);
    bottom: -7%;
    left: -5%;
    user-select: none;

}
.blob-style{
    /* border: 2px solid red; */
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 20%;
    animation: blob-animation 3s linear infinite;
}
@keyframes blob-animation {
    50%{
        top: 25%;
        left: 15%;
    }
}

.skills-logo{
    width: 95px;
    height: 95px;
    transition: all 0.3s;
}
.skills-logo:hover{
    transform: scale(1.2);
}
.skills-heading{
    font-size: 50px;
    font-weight:bold;
    color: #e84949;
}
.skills-heading  .caps{
    font-weight: 600;
    font-size: 90px;
}
.skills-subheading{
    /* border: 2px solid green; */
    /* margin: 10px; */
    padding-top: 20px;
    text-align: justify;
    width: 85%;
}
.contactus-form-conatiner{
    width: 100%;
    background-color: rgb(232, 231, 231);
}
.conatctus-heading{
    font-size: 5em;
    color: #e84949;
    padding-top: 2rem;
    text-align: center;
}
.conatctus-sub-heading{
    font-size: 3rem;
    color: #343d68aa;
    text-align: center;

}
.contactus-form-conatiner{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.formfield-conatiner{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.formfield{
    border: 1px solid black;
    border-radius: 3px;
    width: 30em;
    margin: 15px;
    padding: 6px;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: 2px 2px 8px #1f1f1f;
    color:#e84949;
}
.submit-btn{
    /* border: 2px solid black; */
    display: flex;

}

#conatct-me-btn{
    margin: 16px auto;

}
.sumbit-icon{
    margin-left: 10px;
}
.footer-conatiner{
    width: 100vw;
    height: 25vh;
    background-color: #343d68;
    padding: 20px;
    position: relative;
}
.footer-faded-text{
    position: absolute;
    font-size: 5em;
    font-style: italic;
    color: rgb(172, 172, 172);
    bottom: 0%;
    left: 2%;
    user-select: none;
}
.link-wrapper{
    position: absolute;
    /* background-color: white; */
    display: flex;
    left: 30%;
    top: 50%;
}
.link-wrapper a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    /* border: 2px solid red; */
    margin: 10px;
}
.link-wrapper a:hover{
    background-color: rgba(201, 201, 201, 0.13);
    color:#e84949;
    border-radius: 5px;
}
.icon-wrapper{
    /* background-color: white; */
    position: absolute;
    display: flex;
    right: 10%;
    top: 50%;
    /* border: 2px solid red; */
}
.footer-icon{
    color: white;
    /* border: 2px solid rgb(47, 17, 17); */
    font-size: 30px;
    margin: 20px;
    padding: 5px;
    transition: all 0.3s;
}
.footer-icon:hover{
    cursor: pointer;
    font-size: 32px;
    color: #e84949;
}
.copywright{
    color: white;
    position: absolute;
    left: 40%;
    bottom: 0%;
    user-select: none;
}